<div class="container-fluid">
  <div class="row col-12">
    <div class=" col-8">
      <div class="row justify-content-center mt-2">
        <div class="shadow-lg col-lg-4 col-md-11 p-4 mt-2 ">
          <div>
            <i class="fa-solid fa-chart-column mb-2"></i>
            <h5>Total Sales</h5>
            <h2>$ 25,024</h2>
          </div>
          <div>
            <div class="progress blue my-3">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
            </div>
            <div class="lasttext">90% of all males like donuts.</div>

          </div>
        </div>
        <div class="shadow-lg col-lg-4 col-md-11 p-4 mt-2 ">
          <div>
            <i class="fa-solid fa-chart-simple mb-2"></i>
            <h5>Total Expeness</h5>
            <h2>$14,160</h2>
          </div>
          <div>
            <div class="progress pink my-3">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">60%</div>
            </div>
            <div class="lasttext">60% of all males like donuts.</div>
          </div>
        </div>
        <div class="shadow-lg col-lg-4 col-md-11 p-4 mt-2 ">
          <div>
            <i class="fa-solid fa-stairs mb-2"></i>
            <h5>Total Income</h5>
            <h2>$ 25,024</h2>
          </div>
          <div>
            <div class="progress yellow my-3">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">75%</div>
            </div>
            <div class="lasttext">75% of all males like donuts.</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-4">

      <h3>Recent Updates </h3>
<div class="shadow rounded   mt-3">
    <div class="row m-2 py-2">
        <div class="col-md-3 col-4 ">
            <img src="assets/avatar111.jpg"
            height="45" class="rounded-circle">
        </div>
        <div class="col-md-9 col-8"><strong>Mike Tyson </strong> <span class="text-secondary">I recieved the order of  .......</span></div>
    </div>
    <div class="row m-2 py-2">
        <div class="col-md-3 col-4 ">
            <img src="assets/avatar2.jpg" height="45">
        </div>
        <div class="col-md-9 col-8"><strong>Mike Tyson </strong> <span class="text-secondary">I recieved the order of  .......</span></div>
    </div>
    <div class="row m-2 py-2">
        <div class="col-md-3 col-4 ">
            <img src="assets/avatar3.jpg" height="45">
        </div>
        <div class="col-md-9 col-8"><strong>Mike Tyson </strong> <span class="text-secondary">I recieved the order of  .......</span></div>
    </div>



    <div class="row m-2 py-2">
      <div class="col-md-3 col-4 ">
          <img src="assets/one.jpg" height="45">
      </div>
      <div class="col-md-9 col-8"><strong>Mike Tyson </strong> <span class="text-secondary">I recieved the order of  .......</span></div>
  </div>
  <div class="row m-2 py-2">
    <div class="col-md-3 col-4 ">
        <img src="assets/four.jpg" height="45">
    </div>
    <div class="col-md-9 col-8"><strong>Mike Tyson </strong> <span class="text-secondary">I recieved the order of  .......</span></div>
</div>
</div>
</div>

<div class=" col-8 shadow  mt-3 pe-3">
  <h3>Recent Orders</h3>
  <div class="pe-3">
    <canvas id="myChart" >{{chart}}</canvas>
  </div>
</div>

<div class="col-4">
  <h3 class="mt-3">Sales Analytics</h3>
  <div class="">
    <div class="alert   alert-light d-flex align-items-center   shadow rounded" role="alert">
      <div class="d-flex align-items-center" >
        <div class="fs-2 first-icon"><i class="bi bi-patch-plus-fill text-success"></i></div>
        <div class="d-flex flex-column mx-2" >
          <span class="fw-bold">ONLINE ORDERS</span>
          <span>last 24 hours</span>
        </div>
        <div class="mx-2 fw-bold number">
          <p class="text-success">+37%</p>
        </div>
        <div class=" fw-bold">
          <p>4444</p>
        </div>
      </div>
    </div>
    <div class="alert alert-dark d-flex align-items-center   shadow rounded " role="alert">
      <div class="d-flex align-items-center" >
        <div class="fs-2 text-danger"><i class="bi bi-bag-check-fill"></i></div>
        <div class="d-flex flex-column mx-2" >
          <span class="fw-bolder">OFFLINE ORDERS</span>
          <span>last 24 hours</span>
        </div>
        <div class="mx-2 fw-bolder text-danger">
          <p>-7%</p>
        </div>
        <div class=" mx-1 fw-bolder">
          <p>1100</p>
        </div>
      </div>
    </div>
    <div class="alert alert-light d-flex align-items-center   shadow rounded" role="alert">
      <div class="d-flex align-items-center" >
        <div class="fs-2  number"><i class="bi bi-person-lines-fill text-success"></i></div>
        <div class="d-flex flex-column mx-2" >
          <span class="fw-bolder ">NEW CUSTOMER</span>
          <span>last 24 hours</span>
        </div>
        <div class="mx-2 fw-bolder number">
          <p class="text-success">+27%</p>
        </div>
        <div class=" fw-bolder">
          <p>849</p>
        </div>
      </div>
    </div>
    <div class="alert  alert-dark d-flex align-items-center last-alert justify-content-center shadow rounded " role="alert">
      <p>+ Add product</p>
    </div>
  </div>
</div>



  </div>
</div>
