<div class="row p-2">
  <div class="col-md-3">
    <h4>all resturant</h4>
    </div>
    <div  *ngFor="let Restrant of Restrant; index as i" >
    <div class="card" *ngIf=" !Restrant.isedit; else elseblock">
      <div class="card-body">
        <div class="card-title">
            Name:{{Restrant.name| titlecase}}
        </div>
        <div  class="card-subtitle">
            address:{{Restrant.adress| titlecase}}
        </div>

        <a class="btn btn-warning" (click)="editRes(Restrant)">Edit</a>
      </div>
    </div>
    <ng-template #elseblock >
      <div class="card" >
        <div class="card-body">
          <div class="card-title" >
              edit resturant
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Restrant.editname">
              </div>
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Restrant.editaddress">
              </div>

            </div>
          </div>
          <a class="btn btn-success" href="#" (click)="Restrant.isedit=false">cancel</a>
          <a class="btn btn-warning" (click)="updatedItem(Restrant)">update</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>

















<!-- <div class="row p-2">
  <div class="col-md-3">
    </div>
    <div  *ngFor="let Res of Restrant; index as i" >
    <div class="card" *ngIf=" !Res.isedit; else elseblock">
      <div class="card-body">
        <div class="card-title">
            Name:{{Res.name| titlecase}}
        </div>
        <div  class="card-subtitle">
            address:{{Res.adress| titlecase}}
        </div>

        <a class="btn btn-warning" (click)="editRes(Res)">Edit</a>
      </div>
    </div>
    <ng-template #elseblock >
      <div class="card" >
        <div class="card-body">
          <div class="card-title" >
              edit resturant
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Res.editname">
              </div>
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Res.editaddress">
              </div>

            </div>
          </div>
          <a class="btn btn-success" href="#" (click)="Res.isedit=false">cancel</a>
          <a class="btn btn-warning" (click)="updatedItem(Res)">update</a>
        </div>
      </div>
    </ng-template>
  </div>
</div>



























<!--
 <div class="search">
  <input
    type="text"
    [(ngModel)]="term"
    class="searchTerm"
    placeholder="What are you looking for?"
  />
</div> -->
<!--
<form class="wrap">
  <div class="search">
    <h3>Search country by name filter : </h3>
    <input class="searchTerm" type="text" name="searchTerm"
      placeholder="Filter by Restrant name"
       (input)="search(searchTerm)" />
  </div>
</form>



<div class="body">
  <div class="row">


    <div class="col col-12 col-md-6 " *ngFor="let Restrant of Restrant | searchFilter: searchTerm; index as i" >
      <div class="card"  style="width:30rem;" *ngIf=" !Restrant.isedit; else elseblock">
        <img [src]="Restrant.Image" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{Restrant.id}}</h5>
          <h5 class="card-title" >Name: {{Restrant.name}} </h5>
          <p class="card-text"  >address: {{Restrant.adress}}</p>

          <a class="btn btn-success" href="#" (click)="Restrant.isedit=false">cancel</a>
  <a class="btn btn-warning" (click)="updatedItem(Restrant)">update</a>

  <table class="table">
  <thead>
      <tr >
        <th scope="col" >name</th>
        <th scope="col">price</th>
        <th scope="col"  colspan="2" >Handle</th>
      </tr>
    </thead>
    <tbody>
        <tr scope="row" class="mb-3 ms-4" *ngFor="let menu of Restrant.meals;let i=index">
          <td class="form-label">{{Restrant.meals[i].name}}</td>
          <td class="form-label">{{Restrant.meals[i].price}}</td>
    <td >
          <button  class="btn btn-success" (click)="UpdateMeal(Restrant.meals.id)" >Edit</button>
          <button  class="btn btn-danger"(click)="deleteMeal(Restrant.meals.id)">Delete</button>

    </td>
  </tr>
    </tbody>

  </table>
  <button  class="btn btn-danger" (click)="delete(Restrant.id)">Delete all restrent</button>


        </div>
      </div>


      <ng-template #elseblock >
        <div class="card" >
          <div class="card-body">
            <div class="card-title" >
                edit resturant
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-m-12">
                  <input type="text" class="form-control" [(ngModel)]="Restrant.editname">
                </div>
                <div class="col-m-12">
                  <input type="text" class="form-control" [(ngModel)]="Restrant.editaddress">
                </div>

              </div>
            </div>
            <a class="btn btn-success" href="#" (click)="Restrant.isedit=false">cancel</a>
            <a class="btn btn-warning" (click)="updatedItem(Restrant)">update</a>
          </div>
        </div>

      </ng-template>
    </div>

</div>
  </div> -->

























<!--
  <div class="row p-2">




    <div  *ngFor="let Res of Restrant; index as i" >
    <div class="card" *ngIf=" !Res.isedit; else elseblock">
      <div class="card-body">
        <div class="card-title">
            Name:{{Res.name| titlecase}}
        </div>
        <div  class="card-subtitle">
            address:{{Res.adress| titlecase}}
        </div>
        <div class="card-text">
            meals:
        </div>
        <a class="btn btn-warning" (click)="editRes(Res)">Edit</a>
      </div>
    </div>
    <ng-template #elseblock >
      <div class="card" >
        <div class="card-body">
          <div class="card-title" >
              edit resturant
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Res.editname">
              </div>
              <div class="col-m-12">
                <input type="text" class="form-control" [(ngModel)]="Res.editaddress">
              </div>

            </div>
          </div>
          <a class="btn btn-success" href="#" (click)="Res.isedit=false">cancel</a>
          <a class="btn btn-warning" (click)="updatedItem(Res)">update</a>
        </div>
      </div>

    </ng-template>
  </div>
</div>
 -->



























<!-- <p>show-res works!</p>
<div class="body">
  <div class="row">
    <div class="col col-12 col-md-6 " *ngFor="let Restrant of Restrant; index as i" >
      <div class="card" style="width:30rem;" *ngIf="Restrant.isedit; else elseblock">
        <img [src]="Restrant.Image" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">{{Restrant.name| titlecase}}</h5>
          <p class="card-text">address: {{Restrant.adress| titlecase}}</p>
  <table class="table">
    <thead>
      <tr >
        <th scope="col">name</th>
        <th scope="col">price</th>

        <th scope="col"  colspan="2" >Handle</th>
      </tr>
    </thead>
    <tbody>
        <tr scope="row" class="mb-3 ms-4" *ngFor="let menu of Restrant.meals;let i=index">
          <td class="form-label">{{Restrant.meals[i]}}</td>
          <td ><i class="bi bi-pencil text-danger" (click)="editRes(Restrant)">edit</i></td>
    </tr>
    </tbody>
  </table>

        </div>
      </div>
      <ng-template #elseblock >
        <div class="card" style="width:30rem;" >
          <div class="card-body">
            <div class="card-title">Edit Restrant</div>
            <div class="row">
              <div class="form-group">
                <div class="col-m-12">
                  <input type="text"[(ngModel)]="Restrant.editname" class="form-control">
                </div>
                <div class="col-m-12">
                  <input type="text" [(ngModel)]="Restrant.editaddress" class="form-control">
                </div>
                <div class="col-m-12">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <td >
              <a  (click)="Restrant.isedit=false">cancel</a>
              <a (click)="updatedItem(Restrant)">update</a>

            </td>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div> -->


 -->
